<h1>Vos réservations</h1>
<div class="card mb-3 w-100">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [ngClass]="{'active': showCovoiturages}">
          <input (click)="toggleCovoiturages()" type="checkbox" checked autocomplete="off">Covoiturages
        </label>
        <label class="btn btn-primary" [ngClass]="{'active': showVehicules}">
          <input (click)="toggleVehicules()" type="checkbox" autocomplete="off">Véhicules de service
        </label>
        <label class="btn btn-primary" [ngClass]="{'active': showCourses}">
          <input (click)="toggleCourses()" type="checkbox" autocomplete="off">Courses avec chauffeur
        </label>
      </div>
    </li>
  </ul>
  <div class="card-body">
    <h5 class="card-subtitle mb-2">En cours</h5>
    <div *ngIf="showCovoiturages">
      <a routerLink="/collaborateur/annonces/creer" class="btn btn-primary my-4">Publier une annonce de covoiturage</a>
      <h5 class="card-subtitle mb-2">En cours</h5>
      <app-collab-reservation-table [reservationsCovoiturageAffichage]='reservationsCovoiturageEnCoursAffichage'>
      </app-collab-reservation-table>
      <h5 class="card-subtitle mb-2 text-muted mt-3">Historique</h5>
      <app-collab-reservation-table [reservationsCovoiturageAffichage]='reservationsCovoiturageHistoriqueAffichage'>
      </app-collab-reservation-table>
    </div>
  </div>
</div>
