<mat-grid-list cols="2" rowHeight="100px" gutterSize="10px">
  <mat-grid-tile [colspan]="1" [rowspan]="3">
    <img class="car-image" [src]="vehicule.photoUrl">
  </mat-grid-tile>
  <mat-grid-tile class="text-alignement" [colspan]="1" [rowspan]="1">
    <div>Marque: {{vehicule.marque}}</div>
  </mat-grid-tile>
  <mat-grid-tile class="text-alignement" [colspan]="1" [rowspan]="1">
    <div>Modèle: {{vehicule.modele}}</div>
  </mat-grid-tile>
  <mat-grid-tile class="text-alignement" [colspan]="1" [rowspan]="1">
    <div>égorie: {{vehicule.categorie}}</div>
  </mat-grid-tile>
</mat-grid-list>

<table mat-table [dataSource]="vehicule.reservationsEntreprise" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="dateDebut">
    <th class="header-table" mat-header-cell *matHeaderCellDef> Date / Heure début </th>
    <td class="content-table" mat-cell *matCellDef="let element"> {{element.dateDepart | date:'dd/MM/yyyy HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="dateFin">
    <th class="header-table" mat-header-cell *matHeaderCellDef> Date / Heure débu </th>
    <td class="content-table" mat-cell *matCellDef="let element"> {{element.dateArrivee | date:'dd/MM/yyyy HH:mm'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
