.text-alignement {
  .mat-figure {
    justify-content: flex-start !important;
  }
}

.car-image {
  width: 100%;
}

.mat-table {
  width: 100%;
}

.header-table{
  width: 50%;
}

.content-table{
  width: 50%;
}

.button {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}
