<!--
<ng-container *ngIf="collegueConnecte | async as col">
  <div *ngIf="!col.estAnonyme()">
    <app-collab-menu></app-collab-menu>
  </div>
</ng-container>
<main class="container mt-3">
  <ng-container *ngIf="collegueConnecte | async as col">
    <div class="lead" *ngIf="!col.estAnonyme()">
      <p>Utilisateur connecté : {{col.email}}</p>
      <p>Les rôles :</p>
      <ul>
        <li *ngFor="let r of col.roles">{{r}}</li>
      </ul>
    </div>
  </ng-container>
  <router-outlet></router-outlet>
</main>
-->
<main class="container">
  <app-collab-reserver-vehicule-entreprise></app-collab-reserver-vehicule-entreprise>
</main>
